<form method="POST" id ="friendbtn" action="/new-user" >
                                              
                               <input type="submit" id="friendbtn" value="HOME"></input>
                               <input type="text" id="first_name" name="first_name" value={{user}}></input>    
                              </form>   
<h1>Bollywood Buzz</h1>


<div id="border">
<p>{{tweet0}}</p>
<p>{{tweet1}}</p>
<p>{{tweet2}}</p>
<p>{{tweet3}}</p>
<p>{{tweet4}}</p>
<p>{{tweet5}}</p>
<p>{{tweet6}}</p>
<p>{{tweet7}}</p>
<p>{{tweet8}}</p>
<p>{{tweet9}}</p>
<p>{{tweet10}}</p>
<p>{{tweet11}}</p>
<p>{{tweet12}}</p>
<p>{{tweet13}}</p>
<p>{{tweet14}}</p>
<p>{{tweet15}}</p>
<p>{{tweet16}}</p>
<p>{{tweet17}}</p>
<br>

</div>
<br>
<br>
<br>